@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #4D05E8;
  --foreground: #ffffff;
}

@font-face {
  font-family: 'ACaslonPro';
  src: url('/fonts/ACaslonPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ACaslonPro';
  src: url('/fonts/ACaslonPro-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'CFAstyStd';
  src: url('/fonts/CFAstyStd-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-ExtraBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ionicons';
  src: url('/fonts/ionicons.ttf') format('truetype');
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
